%section.content.clearfix
  %article.biz
    %section.biz.container
      .row
        .biz-info
          %header
            %h1= @business.name
            %h4 Rating: 4.5/5.0
            = link_to @business.category do
              %h4 #{@business.category.name}
            %p Address: #{@business.address}
            %p Region: #{@business.region}
            %p Country: #{@business.country}        
  %section.reviews.container
    .row
      .col-sm-10.col-sm-offset-1
        = form_for [@business, Review.new] do |f|
          %fieldset
            .form-group
              = f.label 'Rate this business'
              .row
                .col-sm-5
                  
                  = f.radio_button :rating, 1
                  = f.label :rating, '1', :value => 1
                  = f.radio_button :rating, 2
                  = f.label :rating, '2', :value => 2
                  = f.radio_button :rating, 3
                  = f.label :rating, '3', :value => 3
                  = f.radio_button :rating, 4
                  = f.label :rating, '4', :value => 4
                  = f.radio_button :rating, 5
                  = f.label :rating, '5', :value => 5
            .form-group
              = f.label :content, 'Write Your Review'
              .row
                .col-sm-8
                  = f.text_area :content, rows: 6, class: 'form-control'
          %fieldset.form-group.actions.clearfix
            %input(type="submit" value="Submit" class="btn")
            = link_to 'Cancel', @business
        %header
          %h3 Recommended Reviews (#{@reviews.count})        
        %ul     
          %article.review     
            - @reviews.each do |review|            
              %li.row
                .col-sm-3
                  %span Rating: #{review.rating} / 5
                  %p by #{link_to review.creator.full_name, review.creator}
                .col-sm-7
                  %p= review.content
