%article.reviews
  %section.reviews.container
    .row
      %reviews.col-sm-9.col-sm-offset-1
        %header
          %h1 Recent Reviews
        %ul
          - @reviews.each do |review|                  
            %li.row        
              .col-sm-9
                %h5 #{ link_to review.business.name, review.business }  reviewed by #{ link_to review.creator.full_name, review.creator }
                %p Rating: #{review.rating} / 5 at #{ review.created_at.to_s(:long) }
                %p= review.content